body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
}

/* Global /not unique */
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

/* Header */
header{
  background:#3e3c49;
  color: #F4F4F4;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #a7b38d 3px solid;
  font-family: Arial, Helvetica, sans-serif;
}

header a{
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #myHeader{
  float: left;
}

header #myHeader h1{
    margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header a:hover{
  color: #F4F4F4;
  font-weight: bold;
}

/* Personal */
#team{
  min-height: 400px;
  text-align: center;
  background-color: #3e3c49
}

#team h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: #FFFFFF
}

#team h2{
  font-size: 28px;
  color: #FFFFFF;
}

/* About Me*/
#aboutGroup{
  margin-top: 20px;
}

#aboutGroup.info{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#aboutGroup .info img{
  width: 150px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #FFFFFF;
  background-color: #3e3c49;
  border-top: #a7b38d 3px solid;
  text-align: center;
  style:fixed;
}
